body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.header-top-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #007765;
  padding: 18px 55px;  
  z-index: 100;
}

.header-top-line a {
  text-decoration: none;
}

img.logo2 {
margin-left: -48px;
}

.menu-list {
  width: 500px;
  float: right;
  margin-right: 54px;
}

.menu-list li {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0.5em 0 0.5em;
}

.menu-list li:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}

.menu-list li a {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  transition: font-size 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu-list li a:hover {
  font-weight: 500;
  font-size: 26px;
  color: #cdfb81;
}

.first-hero {
  background: url(image.svg);
  background-size: cover;
  background-position: center center;
  padding: 160px 55px;
  margin-top: 84px;
}

.first-hero p {
  font-weight: 500;
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
}

.second-hero {
  background: url(image2.png);
  background-size: cover;
  background-position: center center;
  padding: 120px 55px;
}

.second-hero p {
  font-style: italic;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.content {
background: #EEEEEE;
margin: 0px;
padding-top: 48px;
padding-bottom: 92px;
text-align: center;
}

.white-bg {
  background: #FFFFFF;  
}

.text {
  max-width: 1219px;
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
  margin-right: auto;
}

.text h2 {
color: #007765;
font-weight: 500;
font-size: 64px;
line-height: 75px;
text-align: center;
margin-top: 0;
margin-bottom: 74px;
}

.text p {
  margin: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

ul.team {
  text-align: center;
  margin-top: 0;
}

ul.team li {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-bottom: 55px;
}

ul.team li img {
  margin: 0 auto;
  width: 115px;
}

ul.team li h3 {
  color:#007765;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

ul.team li h3, ul.team li img {
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

ul.team li h3:hover, ul.team li img:hover {
  color:#048b77;
  transform: scale(1.2);
}

ul.team li em {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}

.footer {
  background: #333333;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer p {
  width: 540px;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
